.section__list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 0 20px 0px;
    border-bottom: solid #ddd 2px;
}

.list__button {
    padding: 5px;
    height: 30px;
}

.list__button:hover {
    cursor: pointer;
}

.list__button--toggleDoneTask {
    margin: 0 20px;
    background-color: green;
    color: white;
    border: none;
}

.list__button--removeTask {
    margin: 0 20px;
    background-color: red;
    color: white;
    border: none;
}

.list__itemText {
    padding: 5px;
    word-break: break-word;
}

.list__itemText--taskDone {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}