* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ddd;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}