.section {
    background-color: white;
    box-shadow: 0 0 20px 1px #777;
    border-radius: 20px;
    padding: 0 20px 20px;
    margin-bottom: 40px;
}

.section__heading {
    font-size: 27px;
    margin-bottom: 20px;
    padding: 20px 0 20px 20px;
    border-bottom: solid #ddd 2px;
}

.section__input {
    width: 80%;
    padding: 8px;
    border-radius: 20px;
    margin-right: 20px;
    border: solid 2px #ddd;
}

@media (max-width: 888px) {
    .section__input {
        width: 100%;
        margin-bottom: 10px;
    }
}

.section__button {
    width: calc(20% - 24px);
    padding: 8px;
    background-color: teal;
    color: white;
    border-radius: 20px;
}

@media (max-width: 888px) {
    .section__button {
        width: 100%;
    }
}

.section__button:hover {
   cursor: pointer; 
}

.section__list {
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

.helpButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 470px) {
    .helpButtons {
        grid-template-columns: 1fr;
    }
}

.div__helpButton {
    background-color: teal;
    padding: 8px;
    color: white;
    margin: 5px;
    border-radius: 20px;
}

.div__helpButton:hover {
    cursor: pointer;
}