.section {
    background-color: white;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.section__heading {
    font-size: 27px;
    margin-bottom: 20px;
    padding: 20px 0 20px 20px;
    border-bottom: solid #ddd 2px;
}

.addTaskContainer {
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 800px) {
    .addTaskContainer {
        grid-template-columns: 1fr;
    }
}

.section__input {
    padding: 8px;
    margin-left: 20px;
    border: solid 2px #ddd;
}

@media (max-width: 800px) {
    .section__input {
        margin-right: 20px;
    }
}

@media (max-width: 300px) {
    .section__input {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.section__button {
    padding: 8px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: teal;
    color: white;
    border: none;
    transition: 1s;
}

.section__button:hover {
    transform: scale(1.1);
    background-color: hsl(180, 100%, 40%);
}

@media (max-width: 800px) {
    .section__button {
        margin: 20px 20px 0 20px;
    }

    .section__button:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 300px) {
    .section__button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.section__button:hover {
    cursor: pointer;
}


/* next section */

.taskListHeaderContainer {
    display: grid;
    grid-template-areas: "h2 x hidingButton checkingAllButton";
    grid-template-columns: auto 1fr auto auto;
    border-bottom: 2px solid #ddd;
}

@media (max-width: 800px) {
    .taskListHeaderContainer {
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}

.section__heading--borderBottomRemoved {
    margin: 0;
    border: none;
    display: inline-block;
}

.section__list {
    margin-top: 20px;
    list-style-type: none;
}

.div__helpButton {
    background-color: transparent;
    border: none;
    color: teal;
    padding-right: 20px;
    font-size: 18px;
    transition: 1s;
}

.div__helpButton:hover {
    color: hsl(180, 100%, 40%);
}

@media (max-width: 800px) {
    .div__helpButton {
        margin-bottom: 20px;
    }
}

.div__helpButton--toggleVisibility {
    grid-area: hidingButton;
}

@media (max-width: 800px) {
    .div__helpButton--toggleVisibility {
        grid-area: unset;
    }
}

.div__helpButton--toggleDoneAll {
    grid-area: checkingAllButton;
}

@media (max-width: 800px) {
    .div__helpButton--toggleDoneAll {
        grid-area: unset;
    }
}

.div__helpButton:hover {
    cursor: pointer;
}

.div__helpButton--hidden {
    display: none;
}

.div__helpButton:disabled {
    color: #ddd;
}